@model IEnumerable<BulletinBoard.Models.Adverts.AdvertResponse>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var advert in Model)
    {
        <div class="col col-md-6 offset-3">@Html.Partial("_Advert", advert)</div>
    }
</div>